#crystools-root-old {
  /*background-color: red;*/
  display: flex;
  width: 100%;
  flex-direction: column;

  .crystools-monitor-container {
    width: 100%;
    cursor: crosshair;
    order: 3;
    margin: 4px 0;

    .crystools-monitor {
      margin: 2px 10px;
      height: 12px;
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: row;
    }

    .crystools-text {
      width: 35px;
      font-size: 10px;
    }

    .crystools-content {
      height: 100%;
      flex-grow: 1;
      position: relative;
      background-color: var(--bg-color);
    }

    .crystools-slider {
      position: absolute;
      height: 100%;
      width: 0;
    }

    .crystools-label {
      position: relative;
      width: 100%;
      color: var(--drag-text);
      font-size: 10px;
    }

    .crystools-progress-bar {
      cursor: pointer;
      margin: 0 2px;
      height: 18px;
      position: relative;
      background-color: var(--bg-color);

      .crystools-slider {
        position: absolute;
        height: 100%;
        width: 0;
        transition: width 0.2s;
        background-color: green;
      }

      .crystools-label {
        position: absolute;
        margin: auto 0;
        width: 100%;
        color: var(--drag-text);
        font-size: 14px;
      }
    }
  }

}
